@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<Filuet.Hrbl.Ordering.Abstractions.Models.Promotion>

<style>
    .promoTableFinal {
        margin: auto;
    }
</style>

@{
    <table class="table table-striped promoTableFinal" id="promoGroupView" style="display: none">
        <thead>
            <tr class="promoTableFinal">
                <th scope="col">#</th>
                <th scope="col" class="promoTableFinal">RuleId</th>
                <th scope="col" class="promoTableFinal">Rule name</th>
                <th scope="col" class="promoTableFinal">Reward item</th>
                <th scope="col" class="promoTableFinal">Type</th>
                <th scope="col" class="promoTableFinal">Redemption type</th>
                <th scope="col" class="promoTableFinal">Redemption limit</th>
                <th scope="col" class="promoTableFinal">Max SKU Qty to redeem</th>
                <th scope="col" class="promoTableFinal">Notification</th>
            </tr>
        </thead>
        <tbody>
            @{
                int index = 0;
                foreach (var t in Model)
                {
                    index++;
                    string totalReward = string.Empty;

                    foreach (var x in t.Rewards)
                        totalReward += $"{x.Type}: {x.RewardItem} {(string.IsNullOrWhiteSpace(x.ValidUntil) ? string.Empty : ($"valid until {x.ValidUntil}"))}".Trim() + ", ";

                    totalReward = totalReward.Trim();
                    if (totalReward.EndsWith(','))
                        totalReward = totalReward.Substring(0, totalReward.Length - 1);

                    <tr>
                        <th scope="row">@index</th>
                        <td class="promoTableFinal">@t.RuleId</td>
                        <td class="promoTableFinal">@t.RuleName</td>
                        <td class="promoTableFinal">@totalReward</td>
                        <td class="promoTableFinal">@t.Type</td>
                        <td class="promoTableFinal">@t.RedemptionType</td>
                        <td class="promoTableFinal">@t.RedemptionLimit</td>
                        <td class="promoTableFinal">@t.MaxQtyToRedeem</td>
                        <td class="promoTableFinal">@t.Notification</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}