@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Filuet.Hrbl.Ordering.Abstractions.Dto.GetDSEligiblePromoSKUResponseDTO

<style>
    .promoTable {
        border-style: solid;
        border-color: #96D4D4;
    }
</style>

@{
    int index = 1;


    <table class="promoTable">
        <tr class="promoTable">
            <th class="promoTable">№</th>
            <th class="promoTable">Valid until</th>
            <th class="promoTable">Type</th>
            <th class="promoTable">Rule</th>
            <th class="promoTable">RuleID</th>
            <th class="promoTable">
                Reward item
            </th>
            @*<th class="promoTable">Reward</th>*@
            <th class="promoTable">OrderedQuantity</th>
            <th class="promoTable">Reward redemption type</th>
            <th class="promoTable">RedemptionType</th>
            <th class="promoTable">Notification</th>
        </tr>
        @foreach (var t in Model.Promotions.Promotion)
        {
            bool isCash = t.PromotionType.Contains("cash", StringComparison.InvariantCultureIgnoreCase);

    <tr class="promoTable">
        <td class="promoTable">@(index.ToString() + ". ")</td>
        <td class="promoTable">@(isCash ? t.DateAttribute1?.ToLongDateString() : "-")</td>
        <td class="promoTable">@t.PromotionType</td>
        <td class="promoTable">@t.PromotionRuleName</td>
        <td class="promoTable">@t.RuleID</td>
        <td class="promoTable">@t.PromotionProp1</td>
        @*<td class="promoTable">@(isCash ? t.NumAttribute1.ToString("n2") : t.SKU)</td>*@
        <td class="promoTable">@t.OrderedQuantity</td>
        <td class="promoTable">@t.ChrAttribute1</td>
        <td class="promoTable">@t.RedemptionType</td>
        <td class="promoTable">@t.PromoNotification</td>
    </tr>
        }
    </table>
}